<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Dashboard Vendedor</title>

<link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css"> 
<link rel="stylesheet" href="assets/vendors/ti-icons/css/themify-icons.css"> 
<link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css"> 
<link rel="stylesheet" href="assets/vendors/font-awesome/css/font-awesome.min.css"> <!-- endinject --> <!-- Plugin css for this page --> 
<link rel="stylesheet" href="assets/vendors/font-awesome/css/font-awesome.min.css" /> 
<link rel="stylesheet" href="assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css"> <!-- End plugin css for this page --> <!-- inject:css --> <!-- endinject --> <!-- Layout styles --> 
<link rel="stylesheet" href="assets/css/style.css"> <!-- End layout styles --> 
<link rel="shortcut icon" href="assets/images/favicon.png" />

</head>

<body>
	<!-- 🔥 MENU ISQUIERDO Y BARRA SUPERIOR -->
	<div class="container-scroller">
	    
	    <nav th:replace="~{fragmentos/navbar :: navbar}"></nav>
	    
	    <div class="container-fluid page-body-wrapper">
	        
	        <nav th:replace="~{fragmentos/sidebar :: sidebar}"></nav>

	        <div class="main-panel">
	            <div class="content-wrapper">
					
<!-- 🔥 TARJETAS SUPERIORES -->

<div class="row">

<!-- 🟣 VENTAS DEL MES -->
<div class="col-md-4 stretch-card grid-margin">
<div class="card bg-gradient-danger card-img-holder text-white">
<div class="card-body">

<h4 class="font-weight-normal mb-3">
Ventas del Mes
<i class="mdi mdi-chart-line mdi-24px float-right"></i>
</h4>

<h2 class="mb-5">
S/. <span th:text="${ventasMes}"></span>
</h2>

<h6 class="card-text">
Comisión: S/. <span th:text="${comision}"></span>
</h6>

</div>
</div>
</div>

<!-- 🔵 CANTIDAD DE VENTAS -->
<div class="col-md-4 stretch-card grid-margin">
<div class="card bg-gradient-info card-img-holder text-white">
<div class="card-body">

<h4 class="font-weight-normal mb-3">
Cantidad de Ventas
<i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
</h4>

<h2 class="mb-5">
<span th:text="${cantidadVentas}"></span>
</h2>

<h6 class="card-text">
Ventas realizadas este mes
</h6>

</div>
</div>
</div>

<!-- 🟢 PARES VENDIDOS -->
<div class="col-md-4 stretch-card grid-margin">
<div class="card bg-gradient-success card-img-holder text-white">
<div class="card-body">

<h4 class="font-weight-normal mb-3">
Pares Vendidos
<i class="mdi mdi-diamond mdi-24px float-right"></i>
</h4>

<h2 class="mb-5">
<span th:text="${paresVendidos}"></span>
</h2>

<h6 class="card-text">
Total de pares vendidos
</h6>

</div>
</div>
</div>

</div>

<!-- 🔥 PRODUCTO ESTRELLA -->

<div class="row">
<div class="col-md-12 grid-margin stretch-card">
<div class="card">
<div class="card-body">

<h4 class="card-title text-center">
Producto Más Vendido del Vendedor
</h4>

<h2 class="text-center text-primary mt-4">
<strong th:text="${productoEstrella}"></strong>
</h2>

</div>
</div>
</div>
</div>

</div>
</div>
</div>
</div>

<script src="assets/vendors/js/vendor.bundle.base.js"></script>  
<script src="assets/vendors/chart.js/chart.umd.js"></script> 
<script src="assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script> <!-- End plugin js for this page --> <!-- inject:js --> 
<script src="assets/js/off-canvas.js"></script> 
<script src="assets/js/misc.js"></script> 
<script src="assets/js/settings.js"></script> 
<script src="assets/js/todolist.js"></script> 
<script src="assets/js/jquery.cookie.js"></script> 
<script src="assets/js/dashboard.js"></script> 

</body>
</html>
